<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Table with popular ldevelopment environment open source tools used in data science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>TensorFlow</li>
</ol>

| Data Science Tools |
| :- |
| Jupyter Notebooks 
| Jupyter Lab
| Apache Zeppelin

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
x = 1 |
y = 2 |
z = x + y

In [5]:
a = (3*4)+5 # This a simple arithmetic expression to mutiply then add integers
print(a)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = round((minutes/60),2)
print(hours)

3.33

<h2>Author</h2>
Emilia B.